@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -10px);
  }
  50% {
    transform: translate(5px, -20px);
  }
  75% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-gradient {
  animation: gradient 6s ease infinite;
  background-size: 200% 200%;
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
  background-size: 200% 100%;
}

.delay-150 {
  animation-delay: 150ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-700 {
  animation-delay: 700ms;
}